<div fxFlex fxLayout="column" fxLayoutGap="15px">
    <div fxFlex fxLayout="row" class="headerRow" fxLayoutGap="15px" fxLayoutAlign="start center">
      <h2>Checklist Viewer</h2>
  </div>
    <form fxFlex fxLayout="row" class="headerRow" fxLayoutGap="15px" fxLayoutAlign="start center" [formGroup]="searchForm">
      <mat-form-field fxFlex class="locationInput">
        <mat-label>Location</mat-label>
        <mat-select formControlName="location">
          <mat-option [value]="false">All Locations</mat-option>
          <mat-optgroup *ngFor="let acct of accounts" [label]="acct.name">
            <mat-option *ngFor="let loc of acct.locations | activeLocations" [value]="{acct: acct.id, loc: loc.id}">{{ loc.name }}</mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex class="dateInputs">
        <mat-label>Start</mat-label>
        <input matInput readonly [matDatepicker]="start" formControlName="start">
        <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
        <mat-datepicker #start></mat-datepicker>
      </mat-form-field>
      <mat-form-field fxFlex class="dateInputs">
        <mat-label>End</mat-label>
        <input matInput readonly [matDatepicker]="end" formControlName="end">
        <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
        <mat-datepicker #end></mat-datepicker>
      </mat-form-field>
    </form>
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.title }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Location</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.location | locationName:accounts:false }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="user">
      <mat-header-cell *matHeaderCellDef mat-sort-header>User</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ !element.user ? 'Team' : element.user | getUserName:users }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="progress">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Progress</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.tasks | checklistProgress }}%</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openViewDialog(row)" style="cursor: pointer"></mat-row>
  </mat-table>
  
  <mat-paginator #paginator
  [pageSize]="10"
  [pageSizeOptions]="[10,25,50]">
  
  </mat-paginator>
  
  </div>
  